.btn-primary {
    color: #fff;
    background-color:  #3466af  ;
    border-color: #3466af  ;
}

.text-primary{
    color:#3466af;
}

.btn-primary:hover {
    color: #fff;
    background-color: #417d95  ;
    border-color: #417d95  ;
}

.mt-5{
    margin-top: 8rem !important;
}


.row-heading{
    font-weight:500;
    font-size:.7em;
    text-transform:uppercase
}
.timetable .time-label{
    font-size:.8em;
    font-weight:500
}
.timetable .time-entry.vip-only{
    background-color:#c490f5;
    border:1px solid #6a16b8
}
.timetable .time-entry.vip-only:hover{
    background-color:#ae67f0
}

.wrapperEditProfile {
    cursor: pointer;
    overflow: hidden;
    width: 150px;
    height: 150px;
}

.pic-container{
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
}

.pic{
    width: 100%;
    height: 100%;
    display: block;
}

.pic-container.pic-medium{
    width: 150px;
    height: 150px;
}

.pic-container.pic-circle{
    border-radius: 50%;
}

.pic-overlay{
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.pic-container:hover .pic-overlay{
    top: -100%;
}


#uploadPic {
    display: none;
}

#mondayErrorLabel {
    display: none;
    color: red;
}

#tuesdayErrorLabel {
    display: none;
    color: red;
}

#wednesdayErrorLabel {
    display: none;
    color: red;
}

#thursdayErrorLabel {
    display: none;
    color: red;
}

#fridayErrorLabel {
    display: none;
    color: red;
}

#saturdayErrorLabel {
    display: none;
    color: red;
}

#sundayErrorLabel {
    display: none;
    color: red;
}