.img-circle {
    border-radius: 50%;
}

.list-group-item.active {
    z-index: 2;
    color: #212529;
    background-color: #ffc107;
    border-color: #ffeeba;
}

.table{
    max-width: none;
    table-layout: fixed;
    word-wrap: break-word;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    color: white;
    background-color: rgba(33,37,41,0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:hover {
    padding: 0.75rem 1.25rem;
    color: white;
    background-color: #ffeeba;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}