.login-bg{
    background-repeat: repeat;
    background-size: 15rem;
}

.card-header{
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}